<h1>Chat Room*</h1>

<div id="chat_room">
  <div id="messages">
    <%= render @messages %>
  </div>

  <form id="message_data">

    <label>Name:</label>
    <input type="text" name="sender_name" value="hoge">

    <label>Say Something:</label>
    <input type="text" data-behavior="room_speaker">
  </form>
</div>